@import '../../node_modules/antd/dist/antd.css';

.login-form-button {
  width: 100%;
}

.loginContainer{
  height: 100vh;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginForm{
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 400px;
  height: 375px;
}
.login-form{
  width: 300px;
}

.registerContainer{
  height: 100vh;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registrationForm{
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 450px;
  height: fit-content;
}

.registration-form{
  width: 400px;
}

.resetContainer{
  height: 100vh;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset{
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 400px;
  height: 150px;
}

.loginError{
  border-radius: 5px;
  background-color: rgb(216, 72, 72);
}
.loginError h3{
  color: white;
}

.profile{
  color: black;
  height: 100vh;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile h2{
  color: black;
}

.profileContainer{
  color: black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 400px;
  height: 450px;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 25px;
  background-color: black;
}

.nav a, h2{
  color: white;
  margin: 0px;
  padding: 0px;
}

.homeWrapper{
  height: 100vh;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav a:hover{
  color: rgb(238, 194, 50);
}

.user{
  margin-right: 20px;
}

.login{
  margin: 20px;
}
.register{
  margin: 20px;
}
