@import '../../node_modules/antd/dist/antd.css';


.App{
  font-family: 'Ubuntu Mono', monospace;
}

@keyframes spin {
  from {transform: rotate(0deg)}
  to {transform: rotate(180deg)}
}

#jwt{
  animation-name: spin;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.login-form-button {
  width: 100%;
}

.loginContainer{
  height: 100vh;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginForm{
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.959);
  width: 400px;
  height: 375px;
}
.login-form{
  font-family: 'Ubuntu Mono', monospace;
  width: 300px;
}

.registerContainer{
  height: 100vh;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registrationForm{
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 500px;
  height: fit-content;
}

.registration-form{
  width: 400px;
}

.registration-form-button{
  width: 100%;
}

.resetContainer{
  height: 100vh;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset{
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 400px;
  height: 150px;
}

.newPasswordContainer{
  height: 100vh;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newPassword{
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 450px;
  height: 300px;
}

.newPassword-form{
  display: flex;
  width: 400px;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
}

@keyframes shake {
  from {bottom: 0px}
  to {bottom: 3px}
}

.loginError{
  position: relative;
  border-radius: 5px;
  background-color: rgb(216, 72, 72);
  animation: shake 0.5s linear alternate infinite;
}
.loginError h3{
  color: white;
}

.profile{
  color: black;
  height: 100vh;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile h2{
  color: black;
}

.profileContainer{
  color: black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 400px;
  height: 450px;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 125px;
  font-size: 25px;
  background-color: rgb(231, 214, 214);
}

.myprofile {
  display: flex;
  margin: 30px;
}

.nav-signin{
  display: flex;
  justify-content: space-evenly;
  margin: 25px;
}

.logo{
  margin: 25px;
  display: flex;
  height: 100px;
  padding: 25px;
  border-radius: 5px;
  color: white;
  background-color: black;
  align-items: center;
}

.logo h3{
  text-decoration-line: underline;
  color: white;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 15px;
}
.logo p{
  font-size: 15px;
}

.nav a, h2{
  color: black;
  margin: 0px;
  padding: 0px;
}
.nav a:hover{
  color: rgb(50, 125, 238);
}

.homeWrapper{
  height: 100vh;
  padding: 50px;
  background-color: #222;
  display: flex;
  justify-content: center;
}

.homeWrapper h1{
  color: white
}

.footer{
  background-color: rgb(231, 214, 214);
  height: 100px;
}
